{% extends 'adopcion/base.html' %}

{% block content %}

    <main>
        <section id="galeria">
                <h3 id="galleryTitle"><b>Adopciones</b> </h3>
                <div role="figure" class="contenedor">
                        <article>
                            <form method="POST">{% csrf_token %}
                                <h5 id="DogName"><b>{{ dog }}</b></h5>
                                <img src="{{ dog.photo.url }}" alt="Perro Detalle" >
                                <p><b>Raza: </b>{{ dog.race }}</p>
                                <p><b>Descripcion: </b> {{ dog.description }}</p>
                                <p><b>Estado: </b>{{ dog.state }}</p>
                                {% if user.is_authenticated and user.is_staff %}
                                    <button type="submit">Adoptar!</button>
                                {% endif %}
                            </form>
                        </article>
                </div>
        </section>
    </main>

{% endblock %}