{% extends 'adopcion/base.html' %}

{% block content %}

    <main>
        <section id="galeria">
                <h3 id="galleryTitle"><b>Adopciones</b> </h3>
                <div role="figure" class="contenedor">

                        {% for dog in dogs %}
                        <article>
                            <h5><b><a href="{% url 'dog_detail' pk=dog.pk %}">{{ dog }}</a></b></h5>
                            <a href="{% url 'dog_detail' pk=dog.pk %}"><img src="{{ dog.photo.url }}" alt="Perro Disponible"></a>
                            <p><b>Raza: </b>{{ dog.race }}</p>
                            <p><b>Descripcion: </b> {{ dog.description }}</p>
                            <p><b>Estado: </b>{{ dog.state }}</p>
                        </article>
                        {% endfor %}

                </div>
        </section>
    </main>

{% endblock %}